@charset "UTF-8";
.hamburger-menu {
  display: none;
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  background-color: #ECEFF1;
  z-index: 50;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
    padding: 0;
  }
}

.menu__button {
  background-color: #CFD8DC;
  padding: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 16px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.menu__button span {
  width: 50% !important;
  display: block !important;
}

.menu__button.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box.active {
  visibility: visible;
  left: 0;
}

.menu__box li:first-child .menu__item {
  color: #3984f3;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  width: 39px;
  height: 28px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: 0;
  -webkit-transform: translate(0, 50%);
  transform: translate(0, 50%);
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #a0a0a0;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev {
  background: url("../images/slider/arrow2.svg");
}

.slick-next {
  background: url("../images/slider/arrow.svg");
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -72px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 8.5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  display: block;
  outline: none;
  width: 38px;
  height: 3px;
  background-color: #7185de;
  opacity: 0.3;
  color: #0000;
  -webkit-transition: width 0.3s ease, opacity 0.3s ease;
  transition: width 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
  opacity: 1;
  width: 60px;
}

.slick-dots li.slick-active button {
  opacity: 1;
  width: 60px;
}

/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg img {
  display: none;
}

/*------------------*/
body {
  font-family: "Nunito Sans";
  overflow-x: hidden;
  overflow-x: hidden;
}

body.lock {
  overflow-y: hidden;
}

@media (max-width: 767px) {
  body {
    padding: 128px 0;
  }
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.sign-in {
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-size: 20px;
  font-weight: 600;
}

.sign-in.a {
  color: #3984f3;
  border: 3px solid #3984f3;
  padding: 12px 45px;
}

.sign-in.a:hover {
  color: #ffffff;
  background-color: #3984f3;
}

.sign-in.b {
  color: #ffffff;
  background-color: #3984f3;
  padding: 16px 45px;
  min-width: 220px;
  display: inline-block;
  text-align: center;
}

.sign-in.b:hover {
  background-color: #234982;
}

@media (max-width: 528px) {
  .sign-in.b {
    width: 100%;
  }
}

.text {
  color: #81858e;
  font-size: 22px;
  line-height: 42px;
  text-align: center;
}

.title {
  color: #091e40;
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
  text-align: center;
}

.title:after {
  bottom: -34px;
  left: calc(50% - 39px);
  position: relative;
  content: "";
  display: block;
  width: 78px;
  height: 6px;
  background-color: #3984f3;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

::-webkit-calendar-picker-indicator {
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  margin: 0 10px 0;
  flex-shrink: 0;
}

::-webkit-calendar-picker-indicator:active, ::-webkit-calendar-picker-indicator:hover {
  background-color: #0000;
  color: #3984f3;
}

::-webkit-inner-spin-button {
  display: none;
}

.header {
  margin: 71px 0 95px 0;
}

@media (max-width: 767px) {
  .header {
    margin: 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item {
  display: inline;
  margin: 0 60px 0 0;
}

.header__item:last-child {
  margin: 0;
}

.header__link {
  -webkit-transition: color 0.3s ease,  font-weight 0.3s ease;
  transition: color 0.3s ease,  font-weight 0.3s ease;
  color: #bab8b8 !important;
  font-family: "Nunito";
  font-size: 20px;
}

.header__link:hover {
  color: #4497f3 !important;
}

@media (max-width: 1023px) {
  .header__logo {
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 767px) {
  .header__logo {
    display: none;
  }
}

.header__nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav ul {
  display: inline-block;
}

@media (max-width: 1023px) {
  .header__nav {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.home {
  background: url("../images/home/01.png") 100% 100% no-repeat;
  margin: 0 0 163px 0;
}

.home .container {
  height: 998px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__text {
  max-width: 459px;
  line-height: 35px;
  margin: 0 0 93px 0;
  text-align: left;
}

.home__title {
  max-width: 514px;
  color: #091e40;
  font-size: 75px;
  font-weight: 800;
  margin: 0 0 54px 0;
}

@media (max-width: 528px) {
  .home__title {
    font-size: 50px;
  }
}

@media (max-width: 367px) {
  .home__title {
    font-size: 42px;
  }
}

.places {
  margin: 0 0 254px 0;
}

.places .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1492px) {
  .places .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.places__left {
  position: relative;
  left: -326px;
}

@media (max-width: 1492px) {
  .places__left {
    left: 0;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}

.places .slider {
  margin: 0 -202px 0 0;
  max-width: 1230px;
}

@media (max-width: 1492px) {
  .places .slider {
    margin: 0 auto 25px auto;
  }
}

.places .slider .slick-slide {
  margin: 73px 19px 0 19px;
  min-width: 372px;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

@media (max-width: 509px) {
  .places .slider .slick-slide {
    min-width: 0;
    width: 240px;
    margin: 73px 19px 0 19px;
  }
}

.places .slider .slick-slide.slick-center {
  margin: 0 19px;
}

.places .slider .slick-slide.slick-center .slider__bottom {
  opacity: 1;
}

.places .slider .slick-prev {
  bottom: -48px;
  left: 352px;
}

@media (max-width: 1492px) {
  .places .slider .slick-prev {
    left: calc(50% - 75px);
    bottom: -20px;
  }
}

.places .slider .slick-next {
  bottom: -48px;
  left: 453px;
}

@media (max-width: 1492px) {
  .places .slider .slick-next {
    left: calc(50% + 32px);
    bottom: -20px;
  }
}

.places .slider__block {
  height: 500px;
  margin: 0 0 21px 0;
  background: url("../images/places/03.png") 100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 509px) {
  .places .slider__block {
    height: 350px;
    margin: 0 0 8px 0;
  }
}

.places .slider__bottom {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 509px) {
  .places .slider__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.places .slider__date {
  color: #a0a0a0;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.24px;
}

@media (max-width: 509px) {
  .places .slider__date {
    text-align: center;
  }
}

.places .slider__name {
  color: #ffffff;
  font-size: 23px;
  letter-spacing: 0.23px;
  margin: 0 25px 26px 25px;
}

.places .slider__price {
  color: #ffffff;
  font-size: 24px;
  font-weight: 600;
  background-color: #3984f3;
  padding: 10px 30px;
  margin: 31px 0 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.places .slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.places .slider__rating img {
  margin: 0 7px 0 0;
  width: 22px;
  height: 22px;
}

.places .slider__rating img:last-child {
  margin: 0;
}

@media (max-width: 509px) {
  .places .slider__rating img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 509px) {
  .places .slider__rating {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 0 7px 0;
  }
}

.places__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

@media (max-width: 1492px) {
  .places__right {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin: 0 0 60px 0;
  }
}

.places__title {
  text-align: left;
  margin: 0 0 85px 0;
}

.places__title:after {
  left: 0;
}

@media (max-width: 1492px) {
  .places__title {
    text-align: center;
  }
  .places__title:after {
    left: calc(50% - 39px);
  }
}

.places__text {
  margin: 0 0 48px 0;
  text-align: left;
}

@media (max-width: 1492px) {
  .places__text {
    max-width: 1202px;
    text-align: center;
  }
}

@media (max-width: 1492px) {
  .places__button-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1492px) {
  .places__button {
    margin: 0 auto;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.videos {
  margin: 0 0 251px 0;
}

.videos__title {
  margin: 0 0 79px 0;
}

.videos__text {
  max-width: 1214px;
  margin: 0 auto 93px auto;
}

.videos__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videos .list {
  height: 594px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media (max-width: 1699px) {
  .videos .list {
    height: 400px;
  }
}

@media (max-width: 1023px) {
  .videos .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

.videos .list__image {
  min-width: 197px;
  min-height: 113px;
}

@media (max-width: 412px) {
  .videos .list__image {
    min-width: 100px;
  }
}

.videos .list__item {
  padding: 15px;
  displaY: flex;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.videos .list__item.active, .videos .list__item:hover {
  background-color: #efefef;
  cursor: pointer;
}

.videos .list__panel {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 53px 29px 53px;
  background: url("../images/videoplayer/play.svg") 50% 50% no-repeat, url("../images/videos/01.png") 100% 100% no-repeat;
}

@media (max-width: 412px) {
  .videos .list__panel {
    padding: 0 30px 20px 30px;
  }
}

.videos .list__panel.hidden {
  display: none;
}

.videos .list__panel-title {
  color: #ffffff;
  font-size: 35px;
  font-weight: 600;
  padding: 0 0 17px 0;
}

@media (max-width: 412px) {
  .videos .list__panel-title {
    font-size: 28px;
  }
}

.videos .list__panel-time {
  opacity: 0.7;
  color: #ffffff;
  font-size: 26px;
}

@media (max-width: 412px) {
  .videos .list__panel-time {
    font-size: 21px;
  }
}

.videos .list__left {
  position: relative;
}

.videos .list__right {
  overflow-y: scroll;
  width: 547px;
  padding: 0 15px;
}

@media (max-width: 1023px) {
  .videos .list__right {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 400px;
    margin: 15px 0 0 0;
  }
}

@media (max-width: 449px) {
  .videos .list__right {
    height: 250px;
  }
}

.videos .list__text {
  padding: 0 0 0 18px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.videos .list__time {
  opacity: 0.7;
  color: #091e40;
  font-size: 20px;
}

@media (max-width: 412px) {
  .videos .list__time {
    font-size: 19px;
  }
}

.videos .list__title {
  color: #091e40;
  font-size: 26px;
  font-weight: 600;
  display: block;
  margin: 0 0 11px 0;
}

@media (max-width: 449px) {
  .videos .list__title {
    font-size: 19px;
  }
}

.videos .list__video {
  width: 1072px;
  height: 594px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 1699px) {
  .videos .list__video {
    width: 700px;
    height: 400px;
  }
}

@media (max-width: 1365px) {
  .videos .list__video {
    width: 450px;
  }
}

@media (max-width: 1023px) {
  .videos .list__video {
    width: 100%;
  }
}

.travel {
  margin: 0 0 303px 0;
}

.travel__top {
  margin: 0 0 110px 0;
}

@media (max-width: 599px) {
  .travel__top {
    margin: 0 0 90px 0;
  }
}

.travel__title {
  margin: 0 0 80px 0;
}

.travel__text {
  max-width: 1202px;
  margin: 0 auto;
}

.travel .slider {
  max-width: 1920px;
  margin: 0 auto;
}

.travel .slider .slick-slide {
  min-width: 472px;
  height: 500px;
  margin: 59px 17px;
  -webkit-transition: margin 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: margin 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: margin 0.3s ease, box-shadow 0.3s ease;
  transition: margin 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  position: relative;
}

@media (max-width: 599px) {
  .travel .slider .slick-slide {
    min-width: 0;
    width: 360px;
  }
}

@media (max-width: 479px) {
  .travel .slider .slick-slide {
    width: 250px;
    height: 350px;
    margin: 59px 8px;
  }
}

.travel .slider .slick-slide.slick-center {
  margin: 0 17px;
}

@media (max-width: 479px) {
  .travel .slider .slick-slide.slick-center {
    margin: 0 8px;
  }
}

.travel .slider .slick-prev {
  left: calc(50% - 75px);
  bottom: -54px;
}

@media (max-width: 767px) {
  .travel .slider .slick-prev {
    bottom: -35px;
  }
}

.travel .slider .slick-next {
  left: calc(50% + 32px);
  bottom: -54px;
}

@media (max-width: 767px) {
  .travel .slider .slick-next {
    bottom: -35px;
  }
}

.travel .slider__text {
  color: #ffffff;
  font-size: 28px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin: 0 41px 35px 41px;
}

.travel .slider__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  height: 500px;
  background: url("../images/travel/01.png") 100% 100% no-repeat;
}

@media (max-width: 479px) {
  .travel .slider__item {
    height: 350px;
  }
}

.reviews {
  margin: 0 0 311px 0;
}

.reviews__title {
  margin: 0 0 105px 0;
}

.reviews .slider {
  max-width: 1060px;
  margin: 0 auto;
}

.reviews .slider .slick-prev {
  bottom: 70px;
  left: calc(50% - 271px);
  z-index: 49;
}

@media (max-width: 599px) {
  .reviews .slider .slick-prev {
    left: 0;
  }
}

.reviews .slider .slick-next {
  bottom: 70px;
  left: calc(50% + 232px);
  z-index: 49;
}

@media (max-width: 599px) {
  .reviews .slider .slick-next {
    left: calc(100% - 39px);
  }
}

.reviews .slider__img {
  width: 105px;
  height: 106px;
  margin: 0 0 35px;
}

.reviews .slider__item {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.reviews .slider__name {
  color: #2b323a;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 16px 0;
}

.reviews .slider__occupation {
  color: #2b323a;
  font-size: 20px;
}

.reviews .slider__text {
  color: #091e40;
  font-size: 26px;
  line-height: 50px;
  text-align: center;
  margin: 0 0 75px 0;
}

.booking {
  background: url("../images/booking/bg.jpg") 50% 50% no-repeat;
  background-size: cover;
  min-height: 899px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.booking .container {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.booking__top {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  margin: 0 0 82px 0;
}

.booking__title-1 {
  font-size: 39px;
  font-weight: 600;
  margin: 0 0 32px 0;
}

@media (max-width: 767px) {
  .booking__title-1 {
    font-size: 29px;
  }
}

.booking__title-2 {
  font-size: 60px;
  font-weight: 800;
}

@media (max-width: 767px) {
  .booking__title-2 {
    font-size: 40px;
  }
}

.booking__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media (max-width: 1194px) {
  .booking__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.booking input {
  width: 348px;
  margin: 0 55px 0 0;
}

.booking input:last-child {
  margin: 0;
}

@media (max-width: 1586px) {
  .booking input {
    width: 250px;
  }
}

@media (max-width: 1194px) {
  .booking input {
    margin: 0 0 25px 0;
    width: 100%;
  }
}

.booking .input {
  background-color: #fff3;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.22px;
  height: 69px;
  padding: 0 0 0 40px;
  color: #ffffff;
}

.booking .input::-webkit-input-placeholder {
  color: #ffffff;
}

.booking .input:-ms-input-placeholder {
  color: #ffffff;
}

.booking .input::-ms-input-placeholder {
  color: #ffffff;
}

.booking .input::placeholder {
  color: #ffffff;
}

.booking__submit {
  height: 69px;
  background-color: #3984f3;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.22px;
  color: #ffffff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.booking__submit:hover {
  cursor: pointer;
  background-color: #234982;
}

.footer {
  padding: 75px 0;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__links {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 0 0 37px 0;
}

.footer__link {
  display: inline-block;
  margin: 0 45px 0 0;
}

.footer__link:last-child {
  margin: 0;
}

@media (max-width: 791px) {
  .footer__link {
    margin: 0 30px 0 0;
  }
}

@media (max-width: 767px) {
  .footer__link {
    display: block;
    text-align: center;
    margin: 0 0 10px 0;
  }
  .footer__link:last-child {
    margin: 0;
  }
}

.footer__link a {
  color: #2b323a;
  font-size: 18px;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.footer__link a:hover {
  color: #4497f3;
}

.footer__copyright {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 15px;
  font-weight: 600;
  margin: 0 0 25px 0;
}

.footer__copyright span:nth-child(1) {
  color: #2b323a;
}

.footer__copyright span:nth-child(2) {
  color: #c6c6c6;
}

.footer__socials {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 47px;
  height: 47px;
  background-color: #3984f3;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  margin: 0 23px 0 0;
}

.footer__social:last-child {
  margin: 0;
}

.footer__social:hover {
  background-color: #234982;
}
/*# sourceMappingURL=main.css.map */