@charset "UTF-8";
.hamburger-menu {
  display: none;
  width: 100%;
  padding: 4px 0;
  position: fixed;
  top: 0;
  background-color: #ECEFF1;
  z-index: 50;
}

@media (max-width: 767px) {
  .hamburger-menu {
    display: block;
  }
}

.menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 16px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__button.active > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu__button.active > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.menu__button.active > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__button > span,
.menu__button > span::before,
.menu__button > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__button > span::before {
  content: '';
  top: -8px;
}

.menu__button > span::after {
  content: '';
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ECEFF1;
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__box.active {
  visibility: visible;
  left: 0;
}

.menu__box li:first-child .menu__item {
  color: #3984f3;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: 0;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  background-color: #a0a0a0;
}

.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  opacity: 1;
}

.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev {
  width: 39px;
  height: 28px;
  background: url("../images/_slider/arrow2.svg");
}

.slick-next {
  width: 39px;
  height: 28px;
  background: url("../images/_slider/arrow.svg");
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}

.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/* Обнуляющий стиль */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.ibg img {
  display: none;
}

/*------------------*/
body {
  font-family: "Nunito Sans";
  overflow-x: hidden;
  overflow-x: hidden;
}

body.lock {
  overflow-y: hidden;
}

@media (max-width: 767px) {
  body {
    padding: 128px 0;
  }
}

.container {
  max-width: 1630px;
  padding: 0 15px;
  margin: 0 auto;
}

.sign-in {
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 600;
}

.sign-in.a {
  color: #3984f3;
  border: 3px solid #3984f3;
  padding: 12px 45px;
}

.sign-in.a:hover {
  color: #ffffff;
  background-color: #3984f3;
}

.sign-in.b {
  color: #ffffff;
  background-color: #3984f3;
  padding: 16px 45px;
  min-width: 220px;
  display: inline-block;
  text-align: center;
}

.sign-in.b:hover {
  background-color: #234982;
}

@media (max-width: 528px) {
  .sign-in.b {
    width: 100%;
  }
}

.text {
  color: #81858e;
  font-family: "Nunito Sans";
  font-size: 22px;
  line-height: 42px;
}

.title {
  color: #091e40;
  font-family: "Nunito Sans";
  font-size: 50px;
  font-weight: 600;
  line-height: 62px;
}

.title:after {
  bottom: -34px;
  left: calc(50% - 49px);
  position: relative;
  content: "";
  display: block;
  width: 78px;
  height: 6px;
  background-color: #3984f3;
}

.header {
  margin: 71px 0 95px 0;
}

@media (max-width: 767px) {
  .header {
    margin: 0;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1023px) {
  .header .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__item {
  display: inline;
  margin: 0 60px 0 0;
}

.header__item:last-child {
  margin: 0;
}

.header__link {
  -webkit-transition: color 0.3s ease,  font-weight 0.3s ease;
  transition: color 0.3s ease,  font-weight 0.3s ease;
  color: #bab8b8 !important;
  font-family: "Nunito";
  font-size: 20px;
}

.header__link:hover {
  color: #4497f3 !important;
}

@media (max-width: 1023px) {
  .header__logo {
    margin: 0 auto 20px auto;
  }
}

@media (max-width: 767px) {
  .header__logo {
    display: none;
  }
}

.header__nav {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.header__nav ul {
  display: inline-block;
}

@media (max-width: 1023px) {
  .header__nav {
    margin: 0 auto;
  }
}

@media (max-width: 767px) {
  .header__nav {
    display: none;
  }
}

.home {
  background: url("../images/home/01.png") 100% 100% no-repeat;
  margin: 0 0 163px 0;
}

.home .container {
  height: 998px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__text {
  max-width: 459px;
  line-height: 35px;
  margin: 0 0 93px 0;
}

.home__title {
  max-width: 514px;
  color: #091e40;
  font-family: "Nunito Sans";
  font-size: 75px;
  font-weight: 800;
  margin: 0 0 54px 0;
}

@media (max-width: 528px) {
  .home__title {
    font-size: 50px;
  }
}

@media (max-width: 367px) {
  .home__title {
    font-size: 42px;
  }
}

.places .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1492px) {
  .places .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.places__left {
  position: relative;
  left: -326px;
}

@media (max-width: 1492px) {
  .places__left {
    left: 0;
    margin: 0 0 60px 0;
  }
}

.places .slider {
  margin: 0 -202px 0 0;
  max-width: 1230px;
}

.places .slider .slick-prev {
  bottom: -78px;
  left: 352px;
}

@media (max-width: 1492px) {
  .places .slider .slick-prev {
    left: calc(50% - 93px);
    bottom: -20px;
  }
}

.places .slider .slick-next {
  bottom: -78px;
  left: 453px;
}

@media (max-width: 1492px) {
  .places .slider .slick-next {
    left: calc(50% + 60px);
    bottom: -20px;
  }
}

@media (max-width: 1492px) {
  .places .slider {
    margin: 0 auto;
  }
}

.places .slider__item {
  margin: 73px 19px 0 19px;
  min-width: 372px;
  -webkit-transition: margin 0.5s ease;
  transition: margin 0.5s ease;
}

.places .slider__item.slick-center[tabindex="0"] {
  margin: 0 19px;
}

.places .slider__item.slick-center[tabindex="0"] .slider__bottom {
  opacity: 1;
}

@media (max-width: 509px) {
  .places .slider__item {
    min-width: 0;
    width: 240px;
    margin: 73px 19px 0 19px;
  }
}

.places .slider__block {
  height: 500px;
  margin: 0 0 21px 0;
  background: url("../images/places/03.png") 100% 100% no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 509px) {
  .places .slider__block {
    height: 350px;
    margin: 0 0 8px 0;
  }
}

.places .slider__bottom {
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 509px) {
  .places .slider__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.places .slider__date {
  color: #a0a0a0;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.24px;
}

@media (max-width: 509px) {
  .places .slider__date {
    text-align: center;
  }
}

.places .slider__name {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 23px;
  letter-spacing: 0.23px;
  margin: 0 25px 26px 25px;
}

.places .slider__price {
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 600;
  background-color: #3984f3;
  padding: 10px 30px;
  margin: 31px 0 0 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.places .slider__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.places .slider__rating img {
  margin: 0 7px 0 0;
}

.places .slider__rating img:last-child {
  margin: 0;
}

@media (max-width: 509px) {
  .places .slider__rating img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 509px) {
  .places .slider__rating {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 0 7px 0;
  }
}

.places__right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.places__title {
  margin: 0 0 85px 0;
}

.places__title:after {
  left: 0;
}

.places__text {
  margin: 0 0 48px 0;
}
/*# sourceMappingURL=main.css.map */