@charset "UTF-8";

@import "burger";
@import "slider";
@import "zerostyle";

body {
    font-family: "Nunito Sans";
    overflow-x: hidden;
    &.lock {
        overflow-y: hidden;
    }
    @media (max-width: 767px) {
        padding: 128px 0;
    }
    overflow-x: hidden;
}

.container {
    max-width: 1630px;
    padding: 0 15px;
    margin: 0 auto;
}

.sign-in {
    transition: background-color 0.3s ease,
                color 0.3s ease;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-weight: 600;
    &.a {
        color: #3984f3;
        border: 3px solid #3984f3;
        padding: 12px 45px;
        &:hover {
            color: #ffffff;
            background-color: #3984f3;
        }
    }
    &.b {
        color: #ffffff;
        background-color: #3984f3;
        padding: 16px 45px;
        min-width: 220px;
        display: inline-block;
        text-align: center;
        &:hover {
            background-color: #234982;
        }
        @media(max-width: 528px) {
            width: 100%;
        }
    }
}

.text {
    color: #81858e;
    font-family: "Nunito Sans";
    font-size: 22px;
    line-height: 42px;
    text-align: center;
}

.title {
    color: #091e40;
    font-family: "Nunito Sans";
    font-size: 50px;
    font-weight: 600;
    line-height: 62px;
    text-align: center;
    &:after {
        bottom: -34px;
        left: calc(50% - 39px);
        position: relative;
        content: "";
        display: block;
        width: 78px;
        height: 6px;
        background-color: #3984f3;
    }
}

/* scroll */
/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: red;
    background-color: #d9d9d9;
}
/*--------*/

.header {
    margin: 71px 0 95px 0;
    @media (max-width: 767px) {
        margin: 0;
    }
    .container {
        display: flex;
        justify-content: space-between;
        @media (max-width: 1023px) {
            flex-direction: column;
        }
    }
    &__item {
        display: inline;
        margin: 0 60px 0 0;
        &:last-child {
            margin: 0
        }
    }
    &__link {
        transition: color 0.3s ease, 
                    font-weight 0.3s ease;
        color: #bab8b8 !important;
        font-family: "Nunito";
        font-size: 20px;
        &:hover {
            color: #4497f3 !important;
        }
    }
    &__logo {
        @media (max-width: 1023px) {
            margin: 0 auto 20px auto;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
    &__nav {
        align-self: center;
        ul {
            display: inline-block;
        }
        @media (max-width: 1023px) {
            margin: 0 auto;
        }
        @media (max-width: 767px) {
            display: none;
        }
    }
}

.home {
    background: url("../images/home/01.png") 100% 100% no-repeat;
    margin: 0 0 163px 0;
    .container {
        height: 998px;
        display: flex;
        justify-content: center;
        align-content: flex-end;
        flex-direction: column;

    }
    &__text {
        max-width: 459px;
        line-height: 35px;
        margin: 0 0 93px 0;
        text-align: left;
    }
    &__title {
        max-width: 514px;
        color: #091e40;
        font-family: "Nunito Sans";
        font-size: 75px;
        font-weight: 800;
        margin: 0 0 54px 0;
        @media(max-width: 528px) {
            font-size: 50px;
        }
        @media(max-width: 367px) {
            font-size: 42px;
        }
    }
    &__button {
    }
}

.places {
    margin: 0 0 254px 0;
    .container {
        display: flex;
        @media(max-width: 1492px) {
            flex-direction: column;
        }
    }
    &__left {
        position: relative;
        left: -326px;
        @media(max-width: 1492px) {
            left: 0;
            order: 1;
        }
    }
    &__slider {
    }
    .slider {
        margin: 0 -202px 0 0;
        max-width: 1230px;
        @media (max-width: 1492px) {
            margin: 0 auto 25px auto;
        }
        .slick-prev {
            bottom: -48px;
            left: 352px;
            @media(max-width: 1492px) {
                left: calc(50% - 75px);
                bottom: -20px;
            }
        }
        .slick-next {
            bottom: -48px;
            left: 453px;
            @media(max-width: 1492px) {
                left: calc(50% + 32px);
                bottom: -20px;
            }
        }
        &__item {
            margin: 73px 19px 0 19px;
            min-width: 372px;
            transition: margin 0.5s ease;
            &.slick-center[tabindex="0"] {
                margin: 0 19px;
                .slider__bottom {
                    opacity: 1;
                }
            }
            @media(max-width: 509px) {
                min-width: 0;
                width: 240px;
                margin: 73px 19px 0 19px;
            }
        }
        &__block {
            height: 500px;
            margin: 0 0 21px 0;
            background: url("../images/places/03.png") 100% 100% no-repeat;
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            @media(max-width: 509px) {
                height: 350px;
                margin: 0 0 8px 0;
            }
        }
        &__bottom {
            transition: opacity 0.5s ease;
            display: flex;
            opacity: 0;
            justify-content: space-between;
            @media(max-width: 509px) {
                flex-direction: column;
            }
        }
        &__date {
            color: #a0a0a0;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 600;
            letter-spacing: 0.24px;
            @media(max-width: 509px) {
                text-align: center;
            }
        }
        &__name {
            color: #ffffff;
            font-family: "Nunito Sans";
            font-size: 23px;
            letter-spacing: 0.23px;
            margin: 0 25px 26px 25px;
        }
        &__price {
            color: #ffffff;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 600;
            background-color: #3984f3;
            padding: 10px 30px;
            margin: 31px 0 0 0;
            align-self: flex-start;
        }
        &__rating {
            display: flex;
            img {
                margin: 0 7px 0 0;
                width: 22px;
                height: 22px;
                &:last-child {
                    margin: 0;
                }
                @media(max-width: 509px) {
                    width: 25px;
                    height: 25px;
                }
            }
            @media(max-width: 509px) {
                justify-content: space-around;
                margin: 0 0 7px 0;
            }
        }
    }
    &__right {
        align-self: center;
        @media(max-width: 1492px) {
            order: 0;
            margin: 0 0 60px 0;
        }
    }
    &__title {
        text-align: left;
        &:after {
            left: 0;
        }
        margin: 0 0 85px 0;
        @media(max-width: 1492px) {
            text-align: center;
            &:after {
                left: calc(50% - 39px);
            }
        }
    }
    &__text {
        margin: 0 0 48px 0;
        text-align: left;
        @media(max-width: 1492px) {
            max-width: 1202px;
            text-align: center;
        }
    }
    &__button-container {
        @media(max-width: 1492px) {
            display: flex;
        }
    }
    &__button {
        @media(max-width: 1492px) {
            margin: 0 auto;
            align-self: center;
        }
    }
}

.videos {
    margin: 0 0 251px 0;
    &__top {
    }
    &__title {
        margin: 0 0 79px 0;
    }
    &__text {
        max-width: 1214px;
        margin: 0 auto 93px auto;
    }
    &__bottom {
        display: flex;
    }
    &__list {
    }
    .list {
        height: 594px;
        display: flex;
        margin: 0 auto;
        @media(max-width: 1699px) {
            height: 400px;
        }
        @media(max-width: 1023px) {
            flex-direction: column;
            height: auto;
        }
        &__image {
            min-width: 197px;
            min-height: 113px;
            @media(max-width: 412px) {
                min-width: 100px;
            }
        }
        &__item {
            padding: 15px;
            displaY: flex;
            transition: background-color 0.3s ease;
            &.active,
            &:hover {
                background-color: #efefef;
                cursor: pointer;
            }
        }
        &__panel {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 0 53px 29px 53px;
            background: url("../images/videoplayer/play.svg") 50% 50% no-repeat,
                        url("../images/videos/01.png") 100% 100% no-repeat;
            @media(max-width: 412px) {
                padding: 0 30px 20px 30px;
            }
            &.hidden {
                display: none;
            }            
            &-title {
                color: #ffffff;
                font-family: "Nunito Sans";
                font-size: 35px;
                font-weight: 600;
                padding: 0 0 17px 0;
                @media(max-width: 412px) {
                    font-size: 28px;
                }
            }
            &-time {
                opacity: 0.7;
                color: #ffffff;
                font-family: "Nunito Sans";
                font-size: 26px;
                @media(max-width: 412px) {
                    font-size: 21px;
                }
            }
        }
        &__left {
            position: relative;
        }
        &__right {
            overflow-y: scroll;
            width: 547px;
            padding: 0 15px;
            @media(max-width: 1023px) {
                width: 100%;
                flex-direction: column;
                height: 400px;
                margin: 15px 0 0 0;
            }
            @media(max-width: 449px) {
                height: 250px;
            }
        }
        &__text {
            padding: 0 0 0 18px;
            align-self: center;
        }
        &__time {
            opacity: 0.7;
            color: #091e40;
            font-family: "Nunito Sans";
            font-size: 20px;
            @media(max-width: 412px) {
                font-size: 19px;
            }
        }
        &__title {
            color: #091e40;
            font-family: "Nunito Sans";
            font-size: 26px;
            font-weight: 600;
            display: block;
            margin: 0 0 11px 0;
            @media(max-width: 449px) {
                font-size: 19px;
            }
        }
        &__video {
            width: 1072px;
            height: 594px;
            object-fit: cover;
            @media(max-width: 1699px) {
                width: 700px;
                height: 400px;
            }
            @media(max-width: 1365px) {
                width: 450px;
            }
            @media(max-width: 1023px) {
                width: 100%;
            }
        }
    }
}

.travel {
    margin: 0 0 303px 0;
    &__top {
        margin: 0 0 110px 0;
        @media(max-width: 599px) {
            margin: 0 0 90px 0;
        }
    }   
    &__title {
        margin: 0 0 80px 0;
    }
    &__text {
        max-width: 1202px;
        margin: 0 auto;
    }
    &__bottom {
    }
    &__slider {
    }
    .slider {
        max-width: 1920px;
        margin: 0 auto;
        .slick-prev {
            left: calc(50% - 75px);
            bottom: -54px;
            @media(max-width: 767px) {
                bottom: -35px;
            }
        }
        .slick-next {
            left: calc(50% + 32px);
            bottom: -54px;
            @media(max-width: 767px) {
                bottom: -35px;
            }
        }
        &__item {
            width: 472px;
            height: 500px;
            margin: 59px 17px;
            transition: margin 0.3s ease;
            position: relative;
            display: flex;
            background: url("../images/travel/01.png") 100% 100% no-repeat;
            @media(max-width: 599px) {
                min-width: 0;
                width: 360px;
            }
            @media(max-width: 479px) {
                width: 250px;
                height: 350px;
                margin: 59px 8px;
            }
            &.slick-center[tabindex="0"] {
                margin: 0 17px;
                @media(max-width: 479px) {
                    margin: 0 8px;
                }
            }
        }
        &__text {
            color: #ffffff;
            font-family: "Nunito Sans";
            font-size: 28px;
            align-self: flex-end;
            margin: 0 41px 35px 41px;
        }
    }
}

.reviews {
    &__title {
        margin: 0 0 105px 0;
    }
    &__slider {
    }
    .slider {
        .slick-prev {
            bottom: 70px;
            left: calc(50% - 271px);
            z-index: 49;
            @media(max-width: 599px) {
                left: 0;
            }
        }
        .slick-next {
            bottom: 70px;
            left: calc(50% + 232px);
            z-index: 49;
            @media(max-width: 599px) {
                left: calc(100% - 39px);
            }
        }
        max-width: 1060px;
        margin: 0 auto;
        &__img {
            width: 105px;
            height: 106px;
            margin: 0 0 35px;
        }
        &__item {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        &__name {
            color: #2b323a;
            font-family: "Nunito Sans";
            font-size: 24px;
            font-weight: 700;
            margin: 0 0 16px 0;
        }
        &__occupation {
            color: #2b323a;
            font-family: "Nunito Sans";
            font-size: 20px;
        }
        &__text {
            color: #091e40;
            font-family: "Nunito Sans";
            font-size: 26px;
            line-height: 50px;
            text-align: center;
            margin: 0 0 75px 0;
        }
    }
}